In [1]:
import pandas as pd

In [ ]:
SPS = 200

In [18]:
def get_data(eeg_id):
    return pd.read_parquet(f'data/train_eegs/{eeg_id}.parquet', engine='pyarrow')

In [10]:
df = pd.read_csv('data/scores.csv')

In [11]:
df = df.sample(frac=1)

In [12]:
df.head()

,Unnamed: 0,eeg_id,seizure_vote,lpd_vote,gpd_vote,lrda_vote,grda_vote,other_vote,eeg_label_offset_seconds,janelas
7626,7626,1618770996,0.0,0.333333,0.000000,0.0,0.000000,0.666667,"[0.0, 12.0, 14.0, 16.0, 18.0, 24.0]","[(0.0, 74.0)]"
2447,2447,532778640,0.0,0.000000,0.000000,0.0,0.000000,1.000000,[0.0],"[(0.0, 50.0)]"
1987,1987,440754158,0.0,0.866667,0.000000,0.0,0.000000,0.133333,"[0.0, 2.0, 4.0, 6.0, 8.0]","[(0.0, 58.0)]"
3715,3715,790095979,0.0,0.000000,0.076923,0.0,0.307692,0.615385,"[0.0, 36.0, 70.0]","[(0.0, 120.0)]"
12501,12501,2681971940,0.0,0.000000,0.000000,0.0,0.000000,1.000000,[0.0],"[(0.0, 50.0)]"

In [19]:
df_e = get_data(df['eeg_id'].iloc[0])

In [20]:
df_e

,Fp1,F3,C3,P3,F7,T3,T5,O1,Fz,Cz,Pz,Fp2,F4,C4,P4,F8,T4,T6,O2,EKG
0,-0.580000,-9.710000,-27.639999,-11.210000,-2.250000,-11.810000,-66.980003,-1.420000,-13.290000,-25.559999,36.209999,-95.940002,9.900000,-0.270000,47.540001,0.060000,15.100000,-5.720000,31.709999,-1.17
1,-40.200001,12.700000,-3.400000,-4.450000,3.350000,19.040001,-64.050003,1.560000,7.330000,-11.310000,42.070000,-175.869995,32.740002,3.160000,54.150002,2.790000,15.390000,-2.410000,36.439999,-0.81
2,-15.360000,11.210000,-18.110001,-13.330000,-0.900000,-3.890000,-71.339996,-5.610000,-9.980000,-24.469999,33.139999,-97.260002,-15.860000,-13.390000,43.939999,-3.400000,0.070000,-17.200001,26.090000,-0.47
3,-40.840000,-6.150000,-22.570000,-17.309999,-4.000000,-7.140000,-74.900002,-9.340000,-22.799999,-26.370001,30.010000,-134.940002,3.570000,-17.540001,34.439999,-16.059999,-5.980000,-23.750000,21.120001,-1.17
4,8.890000,-33.029999,-37.680000,-30.850000,-11.400000,-28.150000,-88.269997,-22.209999,-31.430000,-39.599998,17.410000,-153.410004,-6.980000,-32.779999,21.280001,-22.790001,-18.799999,-37.820000,8.860000,-1.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14795,57.310001,-9.710000,7.040000,20.600000,-35.520000,9.440000,0.810000,-2.580000,-1.310000,0.040000,46.639999,72.360001,22.049999,-4.910000,46.529999,35.380001,6.620000,-14.930000,34.970001,9.62
14796,93.580002,-9.840000,19.889999,25.799999,-36.759998,31.080000,2.380000,-1.250000,-3.710000,5.240000,50.619999,84.949997,25.420000,14.610000,50.360001,36.750000,8.080000,-10.210000,39.169998,10.14
14797,69.849998,9.580000,40.910000,36.250000,-30.040001,42.990002,10.330000,6.010000,17.740000,18.660000,58.590000,23.990000,55.169998,31.780001,55.509998,25.580000,15.650000,-0.920000,46.310001,10.06
14798,65.419998,6.580000,22.250000,32.939999,-10.260000,7.930000,11.170000,7.940000,16.110001,12.840000,55.310001,117.300003,45.099998,5.530000,52.299999,42.590000,12.710000,-7.100000,45.619999,10.47
14799,56.150002,20.209999,26.920000,29.070000,-24.709999,33.980000,4.480000,2.480000,9.190000,9.000000,49.070000,65.019997,51.540001,3.810000,47.150002,31.290001,23.059999,-14.030000,38.939999,11.70